{% extends 'base.html' %}
{% block content %}
<h2 style="padding-top: 20px;">{%block title%}About{%endblock%}</h2>
<p>This website was created as a class project for COSC 61 (Database Systems) during the summer of '23 at Dartmouth College. The data was sourced from Basketball-Reference, and includes statistics on all NBA players who received a salary between 1985 and 2018. The data was originally imported into MySQL where it was processed and cleaned. This website is built on top of the Python-based Flask module. All was work done by Cha Krupka.
</p>
{% endblock %}